body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6300 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u6301 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6302 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:585px;
}
#u6303 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:57px;
}
#u6304 {
  position:absolute;
  left:127px;
  top:610px;
  width:45px;
  height:57px;
}
#u6305 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6306 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u6307 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6308 {
  position:absolute;
  left:166px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6309 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6310 {
  position:absolute;
  left:97px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6311 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6312 {
  position:absolute;
  left:235px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6313 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6314 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u6315 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6316 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6317 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u6318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6318 {
  position:absolute;
  left:10px;
  top:102px;
  width:6px;
  height:20px;
}
#u6319 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6320 {
  position:absolute;
  left:2px;
  top:332px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6321 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u6322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6322 {
  position:absolute;
  left:10px;
  top:337px;
  width:6px;
  height:20px;
}
#u6323 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6324 {
  position:absolute;
  left:115px;
  top:365px;
  width:53px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6325 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u6326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6326 {
  position:absolute;
  left:279px;
  top:156px;
  width:20px;
  height:20px;
}
#u6327 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6328 {
  position:absolute;
  left:115px;
  top:433px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6329 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6330 {
  position:absolute;
  left:2px;
  top:192px;
  width:373px;
  height:1px;
}
#u6331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6332 {
  position:absolute;
  left:3px;
  top:179px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u6333 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6334 {
  position:absolute;
  left:336px;
  top:133px;
  width:30px;
  height:20px;
}
#u6335 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6336 {
  position:absolute;
  left:2px;
  top:262px;
  width:373px;
  height:1px;
}
#u6337 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6338 {
  position:absolute;
  left:3px;
  top:249px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6339 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6340 {
  position:absolute;
  left:337px;
  top:202px;
  width:30px;
  height:20px;
}
#u6341 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6342 {
  position:absolute;
  left:11px;
  top:129px;
  width:50px;
  height:50px;
}
#u6343 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6344 {
  position:absolute;
  left:11px;
  top:199px;
  width:50px;
  height:50px;
}
#u6345 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6346 {
  position:absolute;
  left:3px;
  top:318px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6347 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6348 {
  position:absolute;
  left:11px;
  top:268px;
  width:50px;
  height:50px;
}
#u6349 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6350 {
  position:absolute;
  left:344px;
  top:276px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6351 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6352 {
  position:absolute;
  left:10px;
  top:364px;
  width:15px;
  height:56px;
}
#u6353 {
  position:absolute;
  left:2px;
  top:20px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u6354 {
  position:absolute;
  left:27px;
  top:367px;
  width:80px;
  height:50px;
}
#u6355 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6356 {
  position:absolute;
  left:11px;
  top:433px;
  width:14px;
  height:56px;
}
#u6357 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u6358 {
  position:absolute;
  left:27px;
  top:436px;
  width:80px;
  height:50px;
}
#u6359 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6360 {
  position:absolute;
  left:165px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6361 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6362 {
  position:absolute;
  left:96px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6363 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6364 {
  position:absolute;
  left:234px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6365 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6366 {
  position:absolute;
  left:278px;
  top:227px;
  width:20px;
  height:20px;
}
#u6367 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6368 {
  position:absolute;
  left:165px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6369 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6370 {
  position:absolute;
  left:96px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6371 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6372 {
  position:absolute;
  left:234px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6373 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6374 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u6375 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6376 {
  position:absolute;
  left:2px;
  top:428px;
  width:373px;
  height:1px;
}
#u6377 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u6378 {
  position:absolute;
  left:-8px;
  top:496px;
  width:384px;
  height:1px;
}
#u6379 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6380 {
  position:absolute;
  left:115px;
  top:501px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6381 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6382 {
  position:absolute;
  left:115px;
  top:412px;
  width:133px;
  height:15px;
  font-size:12px;
}
#u6383 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6384 {
  position:absolute;
  left:115px;
  top:474px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u6385 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6386 {
  position:absolute;
  left:317px;
  top:480px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6387 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6388 {
  position:absolute;
  left:335px;
  top:413px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u6389 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u6390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6390 {
  position:absolute;
  left:336px;
  top:366px;
  width:30px;
  height:20px;
}
#u6391 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6392 {
  position:absolute;
  left:337px;
  top:435px;
  width:30px;
  height:20px;
}
#u6393 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6394 {
  position:absolute;
  left:344px;
  top:501px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6395 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6396 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u6397 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6398 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
}
#u6399 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6400 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u6401 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6402 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u6403 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6404 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u6405 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6406 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u6407 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6408 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u6409 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6410 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u6411 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6412 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u6413 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6414 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u6415 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6416 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:522px;
}
#u6417 {
  position:absolute;
  left:2px;
  top:253px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6418 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u6419 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u6420 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u6421 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u6422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6423 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
  font-size:14px;
}
#u6424 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6425 {
  position:absolute;
  left:34px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u6426 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6427 {
  position:absolute;
  left:36px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6428 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6429 {
  position:absolute;
  left:129px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u6430 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6431 {
  position:absolute;
  left:130px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6432 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6433 {
  position:absolute;
  left:223px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u6434 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6435 {
  position:absolute;
  left:224px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6436 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6437 {
  position:absolute;
  left:317px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u6438 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6439 {
  position:absolute;
  left:323px;
  top:650px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6440 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
}
#u6441 {
  position:absolute;
  left:3px;
  top:398px;
  width:372px;
  height:50px;
}
#u6442 {
  position:absolute;
  left:2px;
  top:17px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6443 {
  position:absolute;
  left:12px;
  top:89px;
  width:90px;
  height:90px;
}
#u6444 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6445 {
  position:absolute;
  left:143px;
  top:89px;
  width:90px;
  height:90px;
}
#u6446 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6447 {
  position:absolute;
  left:273px;
  top:89px;
  width:90px;
  height:90px;
}
#u6448 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6449 {
  position:absolute;
  left:12px;
  top:229px;
  width:90px;
  height:90px;
}
#u6450 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6451 {
  position:absolute;
  left:144px;
  top:229px;
  width:90px;
  height:90px;
}
#u6452 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6453 {
  position:absolute;
  left:274px;
  top:229px;
  width:90px;
  height:90px;
}
#u6454 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6455 {
  position:absolute;
  left:12px;
  top:367px;
  width:90px;
  height:90px;
}
#u6456 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6457 {
  position:absolute;
  left:143px;
  top:367px;
  width:90px;
  height:90px;
}
#u6458 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6459 {
  position:absolute;
  left:273px;
  top:367px;
  width:90px;
  height:90px;
}
#u6460 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6461 {
  position:absolute;
  left:20px;
  top:183px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6462 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6463 {
  position:absolute;
  left:153px;
  top:182px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6464 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6465 {
  position:absolute;
  left:283px;
  top:182px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6466 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6467 {
  position:absolute;
  left:188px;
  top:179px;
  width:1px;
  height:50px;
}
#u6468 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6469 {
  position:absolute;
  left:189px;
  top:197px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u6470 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u6471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6471 {
  position:absolute;
  left:188px;
  top:318px;
  width:1px;
  height:50px;
}
#u6472 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6473 {
  position:absolute;
  left:21px;
  top:322px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6474 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6475 {
  position:absolute;
  left:154px;
  top:321px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6476 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6477 {
  position:absolute;
  left:284px;
  top:321px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6478 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6479 {
  position:absolute;
  left:21px;
  top:460px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6480 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6481 {
  position:absolute;
  left:154px;
  top:459px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6482 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6483 {
  position:absolute;
  left:284px;
  top:459px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6484 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u6485 {
  position:absolute;
  left:100px;
  top:138px;
  width:43px;
  height:1px;
}
#u6486 {
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u6487 {
  position:absolute;
  left:231px;
  top:136px;
  width:43px;
  height:1px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6489 {
  position:absolute;
  left:100px;
  top:122px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u6490 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
