body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8077 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u8078 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:585px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:57px;
}
#u8081 {
  position:absolute;
  left:127px;
  top:610px;
  width:45px;
  height:57px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8083 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8085 {
  position:absolute;
  left:166px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8086 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8087 {
  position:absolute;
  left:97px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8088 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8089 {
  position:absolute;
  left:235px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8090 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8091 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u8093 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u8094 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8095 {
  position:absolute;
  left:10px;
  top:102px;
  width:6px;
  height:20px;
}
#u8096 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u8097 {
  position:absolute;
  left:2px;
  top:332px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u8098 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u8099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8099 {
  position:absolute;
  left:10px;
  top:337px;
  width:6px;
  height:20px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8101 {
  position:absolute;
  left:115px;
  top:365px;
  width:53px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8102 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8103 {
  position:absolute;
  left:279px;
  top:156px;
  width:20px;
  height:20px;
}
#u8104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8105 {
  position:absolute;
  left:115px;
  top:433px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8106 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:192px;
  width:373px;
  height:1px;
}
#u8108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8109 {
  position:absolute;
  left:3px;
  top:179px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u8111 {
  position:absolute;
  left:336px;
  top:133px;
  width:30px;
  height:20px;
}
#u8112 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:262px;
  width:373px;
  height:1px;
}
#u8114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8115 {
  position:absolute;
  left:3px;
  top:249px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u8117 {
  position:absolute;
  left:337px;
  top:202px;
  width:30px;
  height:20px;
}
#u8118 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8119 {
  position:absolute;
  left:11px;
  top:129px;
  width:50px;
  height:50px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8121 {
  position:absolute;
  left:11px;
  top:199px;
  width:50px;
  height:50px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8123 {
  position:absolute;
  left:3px;
  top:318px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8125 {
  position:absolute;
  left:11px;
  top:268px;
  width:50px;
  height:50px;
}
#u8126 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u8127 {
  position:absolute;
  left:344px;
  top:276px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8129 {
  position:absolute;
  left:10px;
  top:364px;
  width:15px;
  height:56px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:20px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u8131 {
  position:absolute;
  left:27px;
  top:367px;
  width:80px;
  height:50px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8133 {
  position:absolute;
  left:11px;
  top:433px;
  width:14px;
  height:56px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u8135 {
  position:absolute;
  left:27px;
  top:436px;
  width:80px;
  height:50px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8137 {
  position:absolute;
  left:165px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8138 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8139 {
  position:absolute;
  left:96px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8140 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8141 {
  position:absolute;
  left:234px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8142 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8143 {
  position:absolute;
  left:278px;
  top:227px;
  width:20px;
  height:20px;
}
#u8144 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8145 {
  position:absolute;
  left:165px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8146 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8147 {
  position:absolute;
  left:96px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8148 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8149 {
  position:absolute;
  left:234px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8150 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8151 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u8152 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u8153 {
  position:absolute;
  left:2px;
  top:428px;
  width:373px;
  height:1px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u8155 {
  position:absolute;
  left:-8px;
  top:496px;
  width:384px;
  height:1px;
}
#u8156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8157 {
  position:absolute;
  left:115px;
  top:501px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8158 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8159 {
  position:absolute;
  left:115px;
  top:412px;
  width:133px;
  height:15px;
  font-size:12px;
}
#u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8161 {
  position:absolute;
  left:115px;
  top:474px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u8162 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8163 {
  position:absolute;
  left:317px;
  top:480px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u8164 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8165 {
  position:absolute;
  left:335px;
  top:413px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u8166 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u8167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u8167 {
  position:absolute;
  left:336px;
  top:366px;
  width:30px;
  height:20px;
}
#u8168 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u8169 {
  position:absolute;
  left:337px;
  top:435px;
  width:30px;
  height:20px;
}
#u8170 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u8171 {
  position:absolute;
  left:344px;
  top:501px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u8172 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8173 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u8174 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8175 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u8177 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u8178 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8179 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u8180 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u8181 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u8182 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8183 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u8184 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u8185 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u8186 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8187 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u8188 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u8189 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u8190 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8191 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u8192 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8193 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:570px;
}
#u8194 {
  position:absolute;
  left:2px;
  top:277px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8195 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u8196 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u8197 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u8198 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u8199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
}
#u8199 {
  position:absolute;
  left:3px;
  top:398px;
  width:372px;
  height:50px;
}
#u8200 {
  position:absolute;
  left:2px;
  top:17px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u8201 {
  position:absolute;
  left:11px;
  top:33px;
  width:40px;
  height:19px;
}
#u8202 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u8203 {
  position:absolute;
  left:100px;
  top:115px;
  width:170px;
  height:170px;
}
#u8204 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  word-wrap:break-word;
}
#u8205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8205 {
  position:absolute;
  left:149px;
  top:149px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u8206 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8207 {
  position:absolute;
  left:164px;
  top:302px;
  width:43px;
  height:16px;
  color:#000000;
}
#u8208 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:327px;
}
#u8209 {
  position:absolute;
  left:107px;
  top:727px;
  width:327px;
  height:327px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:156px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
