body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9890 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u9891 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9892 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:585px;
}
#u9893 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:57px;
}
#u9894 {
  position:absolute;
  left:127px;
  top:610px;
  width:45px;
  height:57px;
}
#u9895 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9896 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u9897 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9898 {
  position:absolute;
  left:166px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9899 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9900 {
  position:absolute;
  left:97px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9901 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9902 {
  position:absolute;
  left:235px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9903 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9904 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u9905 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u9906 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u9907 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u9908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9908 {
  position:absolute;
  left:10px;
  top:102px;
  width:6px;
  height:20px;
}
#u9909 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u9910 {
  position:absolute;
  left:2px;
  top:332px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u9911 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9912 {
  position:absolute;
  left:10px;
  top:337px;
  width:6px;
  height:20px;
}
#u9913 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9914 {
  position:absolute;
  left:115px;
  top:365px;
  width:53px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9915 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u9916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9916 {
  position:absolute;
  left:279px;
  top:156px;
  width:20px;
  height:20px;
}
#u9917 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9918 {
  position:absolute;
  left:115px;
  top:433px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9919 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u9920 {
  position:absolute;
  left:2px;
  top:192px;
  width:373px;
  height:1px;
}
#u9921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9922 {
  position:absolute;
  left:3px;
  top:179px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u9923 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9924 {
  position:absolute;
  left:336px;
  top:133px;
  width:30px;
  height:20px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u9926 {
  position:absolute;
  left:2px;
  top:262px;
  width:373px;
  height:1px;
}
#u9927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9928 {
  position:absolute;
  left:3px;
  top:249px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u9929 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9930 {
  position:absolute;
  left:337px;
  top:202px;
  width:30px;
  height:20px;
}
#u9931 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9932 {
  position:absolute;
  left:11px;
  top:129px;
  width:50px;
  height:50px;
}
#u9933 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9934 {
  position:absolute;
  left:11px;
  top:199px;
  width:50px;
  height:50px;
}
#u9935 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9936 {
  position:absolute;
  left:3px;
  top:318px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u9937 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9938 {
  position:absolute;
  left:11px;
  top:268px;
  width:50px;
  height:50px;
}
#u9939 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u9940 {
  position:absolute;
  left:344px;
  top:276px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u9941 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9942 {
  position:absolute;
  left:10px;
  top:364px;
  width:15px;
  height:56px;
}
#u9943 {
  position:absolute;
  left:2px;
  top:20px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u9944 {
  position:absolute;
  left:27px;
  top:367px;
  width:80px;
  height:50px;
}
#u9945 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9946 {
  position:absolute;
  left:11px;
  top:433px;
  width:14px;
  height:56px;
}
#u9947 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u9948 {
  position:absolute;
  left:27px;
  top:436px;
  width:80px;
  height:50px;
}
#u9949 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9950 {
  position:absolute;
  left:165px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9951 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9952 {
  position:absolute;
  left:96px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9953 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9954 {
  position:absolute;
  left:234px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9955 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9956 {
  position:absolute;
  left:278px;
  top:227px;
  width:20px;
  height:20px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9958 {
  position:absolute;
  left:165px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9959 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9960 {
  position:absolute;
  left:96px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9961 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9962 {
  position:absolute;
  left:234px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9963 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u9964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9964 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u9965 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u9966 {
  position:absolute;
  left:2px;
  top:428px;
  width:373px;
  height:1px;
}
#u9967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u9968 {
  position:absolute;
  left:-8px;
  top:496px;
  width:384px;
  height:1px;
}
#u9969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9970 {
  position:absolute;
  left:115px;
  top:501px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9972 {
  position:absolute;
  left:115px;
  top:412px;
  width:133px;
  height:15px;
  font-size:12px;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9974 {
  position:absolute;
  left:115px;
  top:474px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9976 {
  position:absolute;
  left:317px;
  top:480px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u9977 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9978 {
  position:absolute;
  left:335px;
  top:413px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u9979 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u9980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9980 {
  position:absolute;
  left:336px;
  top:366px;
  width:30px;
  height:20px;
}
#u9981 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9982 {
  position:absolute;
  left:337px;
  top:435px;
  width:30px;
  height:20px;
}
#u9983 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u9984 {
  position:absolute;
  left:344px;
  top:501px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u9985 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9986 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9988 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
}
#u9989 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u9990 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u9991 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9992 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u9993 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u9994 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9996 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u9997 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u9998 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10000 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u10001 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u10002 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u10003 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10004 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u10005 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10006 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:522px;
}
#u10007 {
  position:absolute;
  left:2px;
  top:253px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10008 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u10010 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u10011 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u10012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:365px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:83px;
  width:373px;
  height:365px;
}
#u10013 {
  position:absolute;
  left:2px;
  top:174px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10015 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
  font-size:14px;
}
#u10016 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10017 {
  position:absolute;
  left:34px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10019 {
  position:absolute;
  left:36px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10021 {
  position:absolute;
  left:129px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u10022 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10023 {
  position:absolute;
  left:130px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10024 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10025 {
  position:absolute;
  left:223px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10027 {
  position:absolute;
  left:224px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10028 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10029 {
  position:absolute;
  left:317px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u10030 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10031 {
  position:absolute;
  left:323px;
  top:650px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10032 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u10033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
}
#u10033 {
  position:absolute;
  left:3px;
  top:398px;
  width:372px;
  height:50px;
}
#u10034 {
  position:absolute;
  left:2px;
  top:17px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10035 {
  position:absolute;
  left:61px;
  top:199px;
  width:305px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10036 {
  position:absolute;
  left:395px;
  top:0px;
  width:1086px;
  height:179px;
}
#u10037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u10037 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u10038 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:30px;
}
#u10039 {
  position:absolute;
  left:157px;
  top:0px;
  width:924px;
  height:30px;
  font-size:14px;
}
#u10040 {
  position:absolute;
  left:2px;
  top:7px;
  width:920px;
  word-wrap:break-word;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u10041 {
  position:absolute;
  left:0px;
  top:30px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u10042 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u10043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u10043 {
  position:absolute;
  left:157px;
  top:30px;
  width:924px;
  height:36px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u10044 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u10045 {
  position:absolute;
  left:0px;
  top:66px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u10047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u10047 {
  position:absolute;
  left:157px;
  top:66px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u10048 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u10049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u10049 {
  position:absolute;
  left:0px;
  top:102px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u10050 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u10051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u10051 {
  position:absolute;
  left:157px;
  top:102px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u10052 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u10053 {
  position:absolute;
  left:0px;
  top:138px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u10054 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u10055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u10055 {
  position:absolute;
  left:157px;
  top:138px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u10056 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u10057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:153px;
}
#u10057 {
  position:absolute;
  left:5px;
  top:375px;
  width:369px;
  height:153px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:68px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:55px;
}
#u10059 {
  position:absolute;
  left:11px;
  top:257px;
  width:333px;
  height:55px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:20px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10061 {
  position:absolute;
  left:13px;
  top:268px;
  width:40px;
  height:40px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u10063 {
  position:absolute;
  left:2px;
  top:257px;
  width:373px;
  height:1px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u10065 {
  position:absolute;
  left:63px;
  top:280px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10067 {
  position:absolute;
  left:63px;
  top:296px;
  width:57px;
  height:16px;
  color:#666666;
}
#u10068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u10069 {
  position:absolute;
  left:33px;
  top:267px;
  width:1px;
  height:40px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10071 {
  position:absolute;
  left:38px;
  top:285px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u10072 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u10073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u10073 {
  position:absolute;
  left:197px;
  top:259px;
  width:1px;
  height:60px;
}
#u10074 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10075 {
  position:absolute;
  left:198px;
  top:276px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:169px;
  width:373px;
  height:20px;
}
#u10078 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10079 {
  position:absolute;
  left:95px;
  top:169px;
  width:104px;
  height:16px;
}
#u10080 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u10081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u10081 {
  position:absolute;
  left:10px;
  top:328px;
  width:43px;
  height:39px;
}
#u10082 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10083 {
  position:absolute;
  left:12px;
  top:327px;
  width:40px;
  height:40px;
}
#u10084 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
}
#u10085 {
  position:absolute;
  left:63px;
  top:329px;
  width:224px;
  height:38px;
}
#u10086 {
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u10087 {
  position:absolute;
  left:63px;
  top:332px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10089 {
  position:absolute;
  left:63px;
  top:348px;
  width:57px;
  height:16px;
  color:#666666;
}
#u10090 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10091 {
  position:absolute;
  left:23px;
  top:699px;
  width:80px;
  height:80px;
}
#u10092 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10093 {
  position:absolute;
  left:126px;
  top:699px;
  width:80px;
  height:80px;
}
#u10094 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10095 {
  position:absolute;
  left:234px;
  top:699px;
  width:80px;
  height:80px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10097 {
  position:absolute;
  left:344px;
  top:699px;
  width:80px;
  height:80px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10099 {
  position:absolute;
  left:455px;
  top:699px;
  width:80px;
  height:80px;
}
#u10100 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:117px;
}
#u10101 {
  position:absolute;
  left:558px;
  top:681px;
  width:118px;
  height:117px;
}
#u10102 {
  position:absolute;
  left:2px;
  top:50px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10103 {
  position:absolute;
  left:573px;
  top:808px;
  width:90px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10104 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u10105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u10105 {
  position:absolute;
  left:704px;
  top:726px;
  width:21px;
  height:28px;
}
#u10106 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
