body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u934 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
  font-size:14px;
}
#u935 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u936 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:598px;
  font-size:14px;
}
#u937 {
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u938 {
  position:absolute;
  left:1px;
  top:64px;
  width:375px;
  height:32px;
  font-size:14px;
}
#u939 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u940 {
  position:absolute;
  left:11px;
  top:33px;
  width:22px;
  height:22px;
  font-size:14px;
}
#u941 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_ann {
  position:absolute;
  left:26px;
  top:29px;
  width:1px;
  height:1px;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u942 {
  position:absolute;
  left:104px;
  top:27px;
  width:167px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u943 {
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  word-wrap:break-word;
}
#u942_ann {
  position:absolute;
  left:264px;
  top:23px;
  width:1px;
  height:1px;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u944 {
  position:absolute;
  left:14px;
  top:66px;
  width:20px;
  height:27px;
  font-size:14px;
}
#u945 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u946 {
  position:absolute;
  left:122px;
  top:32px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u947 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:38px;
  top:66px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u950 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u951 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u952 {
  position:absolute;
  left:10px;
  top:102px;
  width:6px;
  height:20px;
  font-size:14px;
}
#u953 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u954 {
  position:absolute;
  left:2px;
  top:332px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u955 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u956 {
  position:absolute;
  left:10px;
  top:337px;
  width:6px;
  height:20px;
  font-size:14px;
}
#u957 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u958 {
  position:absolute;
  left:2px;
  top:192px;
  width:373px;
  height:1px;
  font-size:14px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u960 {
  position:absolute;
  left:2px;
  top:262px;
  width:373px;
  height:1px;
  font-size:14px;
}
#u961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u962 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u963 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u965 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
  font-size:14px;
}
#u966 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u967 {
  position:absolute;
  left:34px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u968 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:36px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u971 {
  position:absolute;
  left:129px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u972 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:130px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u975 {
  position:absolute;
  left:223px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u976 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:224px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u979 {
  position:absolute;
  left:317px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u980 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:323px;
  top:650px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:2px;
  top:128px;
  width:378px;
  height:209px;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u985 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u986 {
  position:absolute;
  left:75px;
  top:0px;
  width:203px;
  height:68px;
}
#u987 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u988 {
  position:absolute;
  left:278px;
  top:0px;
  width:95px;
  height:68px;
}
#u989 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u990 {
  position:absolute;
  left:0px;
  top:68px;
  width:75px;
  height:68px;
}
#u991 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u992 {
  position:absolute;
  left:75px;
  top:68px;
  width:203px;
  height:68px;
}
#u993 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u994 {
  position:absolute;
  left:278px;
  top:68px;
  width:95px;
  height:68px;
}
#u995 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u996 {
  position:absolute;
  left:0px;
  top:136px;
  width:75px;
  height:68px;
}
#u997 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u998 {
  position:absolute;
  left:75px;
  top:136px;
  width:203px;
  height:68px;
}
#u999 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1000 {
  position:absolute;
  left:278px;
  top:136px;
  width:95px;
  height:68px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1002 {
  position:absolute;
  left:145px;
  top:153px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:76px;
  top:153px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:214px;
  top:153px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1007 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1008 {
  position:absolute;
  left:76px;
  top:135px;
  width:99px;
  height:16px;
  color:#000000;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1010 {
  position:absolute;
  left:334px;
  top:136px;
  width:30px;
  height:20px;
  font-size:14px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1012 {
  position:absolute;
  left:9px;
  top:140px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:145px;
  top:220px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:76px;
  top:220px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:214px;
  top:220px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1020 {
  position:absolute;
  left:76px;
  top:202px;
  width:99px;
  height:16px;
  color:#000000;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1022 {
  position:absolute;
  left:9px;
  top:207px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1024 {
  position:absolute;
  left:334px;
  top:204px;
  width:30px;
  height:20px;
  font-size:14px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1026 {
  position:absolute;
  left:9px;
  top:273px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:145px;
  top:287px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:76px;
  top:287px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1032 {
  position:absolute;
  left:214px;
  top:287px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1033 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1034 {
  position:absolute;
  left:76px;
  top:269px;
  width:99px;
  height:16px;
  color:#000000;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1036 {
  position:absolute;
  left:335px;
  top:271px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1038 {
  position:absolute;
  left:2px;
  top:363px;
  width:378px;
  height:209px;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u1041 {
  position:absolute;
  left:75px;
  top:0px;
  width:203px;
  height:68px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1043 {
  position:absolute;
  left:278px;
  top:0px;
  width:95px;
  height:68px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:68px;
  width:75px;
  height:68px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u1047 {
  position:absolute;
  left:75px;
  top:68px;
  width:203px;
  height:68px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1049 {
  position:absolute;
  left:278px;
  top:68px;
  width:95px;
  height:68px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:136px;
  width:75px;
  height:68px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u1053 {
  position:absolute;
  left:75px;
  top:136px;
  width:203px;
  height:68px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:26px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1055 {
  position:absolute;
  left:278px;
  top:136px;
  width:95px;
  height:68px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1057 {
  position:absolute;
  left:114px;
  top:370px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:114px;
  top:438px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1061 {
  position:absolute;
  left:9px;
  top:369px;
  width:15px;
  height:56px;
  font-size:14px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:20px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1063 {
  position:absolute;
  left:26px;
  top:372px;
  width:80px;
  height:50px;
  font-size:14px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1065 {
  position:absolute;
  left:9px;
  top:438px;
  width:14px;
  height:56px;
  font-size:14px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1067 {
  position:absolute;
  left:26px;
  top:441px;
  width:80px;
  height:50px;
  font-size:14px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1069 {
  position:absolute;
  left:9px;
  top:505px;
  width:14px;
  height:56px;
  font-size:14px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1071 {
  position:absolute;
  left:26px;
  top:509px;
  width:80px;
  height:50px;
  font-size:14px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1073 {
  position:absolute;
  left:114px;
  top:506px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1075 {
  position:absolute;
  left:114px;
  top:413px;
  width:155px;
  height:16px;
  color:#666666;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1077 {
  position:absolute;
  left:114px;
  top:481px;
  width:127px;
  height:16px;
  color:#666666;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1079 {
  position:absolute;
  left:307px;
  top:482px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1081 {
  position:absolute;
  left:327px;
  top:414px;
  width:37px;
  height:16px;
  color:#666666;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:332px;
  top:371px;
  width:30px;
  height:20px;
  font-size:14px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1085 {
  position:absolute;
  left:332px;
  top:440px;
  width:30px;
  height:20px;
  font-size:14px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1087 {
  position:absolute;
  left:334px;
  top:506px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:196px;
  width:373px;
  height:1px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:264px;
  width:373px;
  height:1px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1093 {
  position:absolute;
  left:1px;
  top:331px;
  width:373px;
  height:1px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:431px;
  width:373px;
  height:1px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:499px;
  width:373px;
  height:1px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:541px;
  width:378px;
  height:81px;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1104 {
  position:absolute;
  left:93px;
  top:0px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1106 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u1108 {
  position:absolute;
  left:279px;
  top:0px;
  width:94px;
  height:38px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1110 {
  position:absolute;
  left:0px;
  top:38px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1112 {
  position:absolute;
  left:93px;
  top:38px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u1114 {
  position:absolute;
  left:186px;
  top:38px;
  width:93px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u1116 {
  position:absolute;
  left:279px;
  top:38px;
  width:94px;
  height:38px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118 {
  position:absolute;
  left:282px;
  top:541px;
  width:98px;
  height:81px;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:76px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:30px;
  width:89px;
  word-wrap:break-word;
}
#u1121 {
  position:absolute;
  left:189px;
  top:541px;
  width:97px;
  height:81px;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:76px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:30px;
  width:88px;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:579px;
  width:186px;
  height:1px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:77px;
}
#u1126 {
  position:absolute;
  left:95px;
  top:541px;
  width:1px;
  height:76px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:77px;
}
#u1128 {
  position:absolute;
  left:187px;
  top:541px;
  width:1px;
  height:76px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:77px;
}
#u1130 {
  position:absolute;
  left:281px;
  top:541px;
  width:1px;
  height:76px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u1132 {
  position:absolute;
  left:289px;
  top:21px;
  width:2px;
  height:45px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:34px;
}
#u1134 {
  position:absolute;
  left:309px;
  top:65px;
  width:2px;
  height:31px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:34px;
}
#u1136 {
  position:absolute;
  left:246px;
  top:97px;
  width:2px;
  height:31px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:70px;
}
#u1138 {
  position:absolute;
  left:298px;
  top:128px;
  width:2px;
  height:67px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u1140 {
  position:absolute;
  left:60px;
  top:165px;
  width:16px;
  height:1px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u1142 {
  position:absolute;
  left:90px;
  top:619px;
  width:1px;
  height:48px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1144 {
  position:absolute;
  left:91px;
  top:635px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1146 {
  position:absolute;
  left:248px;
  top:627px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1148 {
  position:absolute;
  left:155px;
  top:650px;
  width:65px;
  height:16px;
  color:#FF0000;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1150 {
  position:absolute;
  left:9px;
  top:685px;
  width:6px;
  height:20px;
  font-size:14px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u1152 {
  position:absolute;
  left:15px;
  top:688px;
  width:47px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1154 {
  position:absolute;
  left:160px;
  top:254px;
  width:50px;
  height:50px;
  font-size:11px;
  color:#FF0000;
}
#u1155 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1156 {
  position:absolute;
  left:115px;
  top:392px;
  width:99px;
  height:16px;
  color:#1E1E1E;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1158 {
  position:absolute;
  left:114px;
  top:460px;
  width:99px;
  height:16px;
  color:#1E1E1E;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1160 {
  position:absolute;
  left:335px;
  top:26px;
  width:30px;
  height:30px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_ann {
  position:absolute;
  left:358px;
  top:22px;
  width:1px;
  height:1px;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1162 {
  position:absolute;
  left:350px;
  top:24px;
  width:12px;
  height:12px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1164 {
  position:absolute;
  left:339px;
  top:99px;
  width:25px;
  height:23px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1166 {
  position:absolute;
  left:339px;
  top:336px;
  width:25px;
  height:23px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  position:absolute;
  left:37px;
  top:96px;
  width:275px;
  height:215px;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  font-size:12px;
  color:rgba(53, 214, 214, 0.8);
}
#u1170 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1171 {
  position:absolute;
  left:135px;
  top:0px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1172 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:30px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1175 {
  position:absolute;
  left:135px;
  top:30px;
  width:135px;
  height:30px;
  font-size:12px;
  color:rgba(53, 214, 214, 0.8);
}
#u1176 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:60px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1178 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1179 {
  position:absolute;
  left:135px;
  top:60px;
  width:135px;
  height:30px;
  font-size:12px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:90px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1182 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:135px;
  top:90px;
  width:135px;
  height:30px;
  font-size:12px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:120px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1186 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:135px;
  top:120px;
  width:135px;
  height:30px;
  font-size:12px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:150px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1190 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1191 {
  position:absolute;
  left:135px;
  top:150px;
  width:135px;
  height:30px;
  font-size:12px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:180px;
  width:135px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u1194 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:135px;
  top:180px;
  width:135px;
  height:30px;
  font-size:12px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_ann {
  position:absolute;
  left:300px;
  top:92px;
  width:1px;
  height:1px;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1197 {
  position:absolute;
  left:56px;
  top:275px;
  width:119px;
  height:16px;
  color:#FF0000;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1199 {
  position:absolute;
  left:106px;
  top:127px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
