body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  position:absolute;
  left:1px;
  top:396px;
  width:373px;
  height:32px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7072 {
  position:absolute;
  left:14px;
  top:35px;
  width:20px;
  height:20px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u7074 {
  position:absolute;
  left:13px;
  top:397px;
  width:20px;
  height:27px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7076 {
  position:absolute;
  left:91px;
  top:35px;
  width:20px;
  height:20px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u7078 {
  position:absolute;
  left:37px;
  top:397px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:647px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u7082 {
  position:absolute;
  left:1px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u7083 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u7084 {
  position:absolute;
  left:310px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u7085 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u7086 {
  position:absolute;
  left:140px;
  top:26px;
  width:116px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u7087 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u7088 {
  position:absolute;
  left:6px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u7089 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7090 {
  position:absolute;
  left:94px;
  top:498px;
  width:20px;
  height:20px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u7092 {
  position:absolute;
  left:14px;
  top:85px;
  width:346px;
  height:1px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u7094 {
  position:absolute;
  left:14px;
  top:132px;
  width:346px;
  height:1px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u7096 {
  position:absolute;
  left:14px;
  top:180px;
  width:346px;
  height:1px;
}
#u7097 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:48px;
}
#u7098 {
  position:absolute;
  left:48px;
  top:85px;
  width:296px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7099 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:48px;
}
#u7100 {
  position:absolute;
  left:48px;
  top:133px;
  width:296px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7101 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u7102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7102 {
  position:absolute;
  left:22px;
  top:90px;
  width:11px;
  height:37px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:10px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7104 {
  position:absolute;
  left:22px;
  top:138px;
  width:11px;
  height:37px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:10px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7106 {
  position:absolute;
  left:326px;
  top:95px;
  width:30px;
  height:30px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7108 {
  position:absolute;
  left:385px;
  top:85px;
  width:80px;
  height:80px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
