body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 139, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:0px;
  top:41px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 116, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:0px;
  top:77px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:0px;
  top:137px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u863 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u864 {
  position:absolute;
  left:0px;
  top:173px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u866 {
  position:absolute;
  left:0px;
  top:209px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u868 {
  position:absolute;
  left:0px;
  top:112px;
  width:77px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:0px;
  top:15px;
  width:77px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u872 {
  position:absolute;
  left:103px;
  top:220px;
  width:39px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u874 {
  position:absolute;
  left:69px;
  top:52px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
}
#u876 {
  position:absolute;
  left:101px;
  top:52px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u878 {
  position:absolute;
  left:70px;
  top:88px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u880 {
  position:absolute;
  left:70px;
  top:148px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u882 {
  position:absolute;
  left:70px;
  top:184px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u884 {
  position:absolute;
  left:70px;
  top:220px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u886 {
  position:absolute;
  left:110px;
  top:88px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u888 {
  position:absolute;
  left:103px;
  top:148px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u890 {
  position:absolute;
  left:103px;
  top:184px;
  width:40px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u892 {
  position:absolute;
  left:87px;
  top:21px;
  width:43px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u894 {
  position:absolute;
  left:87px;
  top:118px;
  width:43px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u896 {
  position:absolute;
  left:0px;
  top:285px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
}
#u898 {
  position:absolute;
  left:70px;
  top:285px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:-6px;
  top:323px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u902 {
  position:absolute;
  left:75px;
  top:325px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u904 {
  position:absolute;
  left:0px;
  top:357px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u906 {
  position:absolute;
  left:70px;
  top:359px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u908 {
  position:absolute;
  left:0px;
  top:392px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u909 {
  position:absolute;
  left:2px;
  top:-1px;
  width:65px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u910 {
  position:absolute;
  left:75px;
  top:400px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u912 {
  position:absolute;
  left:0px;
  top:442px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u913 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u914 {
  position:absolute;
  left:0px;
  top:522px;
  width:373px;
  height:1px;
}
#u915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u916 {
  position:absolute;
  left:383px;
  top:516px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
