body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 139, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u819 {
  position:absolute;
  left:0px;
  top:41px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u820 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 116, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u821 {
  position:absolute;
  left:0px;
  top:77px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u822 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u823 {
  position:absolute;
  left:0px;
  top:137px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u824 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:0px;
  top:173px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u826 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u827 {
  position:absolute;
  left:0px;
  top:209px;
  width:60px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u828 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:0px;
  top:112px;
  width:77px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u831 {
  position:absolute;
  left:0px;
  top:15px;
  width:77px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u833 {
  position:absolute;
  left:103px;
  top:220px;
  width:39px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u835 {
  position:absolute;
  left:69px;
  top:52px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
}
#u837 {
  position:absolute;
  left:101px;
  top:52px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u839 {
  position:absolute;
  left:70px;
  top:88px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u841 {
  position:absolute;
  left:70px;
  top:148px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u843 {
  position:absolute;
  left:70px;
  top:184px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u845 {
  position:absolute;
  left:70px;
  top:220px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u847 {
  position:absolute;
  left:110px;
  top:88px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u849 {
  position:absolute;
  left:103px;
  top:148px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u851 {
  position:absolute;
  left:103px;
  top:184px;
  width:40px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u853 {
  position:absolute;
  left:87px;
  top:21px;
  width:43px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u855 {
  position:absolute;
  left:87px;
  top:118px;
  width:43px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:0px;
  top:285px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
}
#u859 {
  position:absolute;
  left:70px;
  top:285px;
  width:38px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:-6px;
  top:323px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u863 {
  position:absolute;
  left:75px;
  top:325px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:0px;
  top:357px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u867 {
  position:absolute;
  left:70px;
  top:359px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u869 {
  position:absolute;
  left:0px;
  top:392px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u870 {
  position:absolute;
  left:2px;
  top:-1px;
  width:65px;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u871 {
  position:absolute;
  left:75px;
  top:400px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u873 {
  position:absolute;
  left:0px;
  top:442px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u874 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u875 {
  position:absolute;
  left:0px;
  top:522px;
  width:373px;
  height:1px;
}
#u876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u877 {
  position:absolute;
  left:383px;
  top:516px;
  width:37px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
