body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6847 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u6848 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6849 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:585px;
}
#u6850 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:57px;
}
#u6851 {
  position:absolute;
  left:127px;
  top:610px;
  width:45px;
  height:57px;
}
#u6852 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6853 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u6854 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6855 {
  position:absolute;
  left:166px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6856 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6857 {
  position:absolute;
  left:97px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6858 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6859 {
  position:absolute;
  left:235px;
  top:136px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6860 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6861 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u6862 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6863 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6864 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u6865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6865 {
  position:absolute;
  left:10px;
  top:102px;
  width:6px;
  height:20px;
}
#u6866 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6867 {
  position:absolute;
  left:2px;
  top:332px;
  width:373px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00ACAC;
}
#u6868 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6869 {
  position:absolute;
  left:10px;
  top:337px;
  width:6px;
  height:20px;
}
#u6870 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6871 {
  position:absolute;
  left:115px;
  top:365px;
  width:53px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u6873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6873 {
  position:absolute;
  left:279px;
  top:156px;
  width:20px;
  height:20px;
}
#u6874 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6875 {
  position:absolute;
  left:115px;
  top:433px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6877 {
  position:absolute;
  left:2px;
  top:192px;
  width:373px;
  height:1px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6879 {
  position:absolute;
  left:3px;
  top:179px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6881 {
  position:absolute;
  left:336px;
  top:133px;
  width:30px;
  height:20px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:262px;
  width:373px;
  height:1px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6885 {
  position:absolute;
  left:3px;
  top:249px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6886 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6887 {
  position:absolute;
  left:337px;
  top:202px;
  width:30px;
  height:20px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6889 {
  position:absolute;
  left:11px;
  top:129px;
  width:50px;
  height:50px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6891 {
  position:absolute;
  left:11px;
  top:199px;
  width:50px;
  height:50px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6893 {
  position:absolute;
  left:3px;
  top:318px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6895 {
  position:absolute;
  left:11px;
  top:268px;
  width:50px;
  height:50px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6897 {
  position:absolute;
  left:344px;
  top:276px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6899 {
  position:absolute;
  left:10px;
  top:364px;
  width:15px;
  height:56px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:20px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u6901 {
  position:absolute;
  left:27px;
  top:367px;
  width:80px;
  height:50px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6903 {
  position:absolute;
  left:11px;
  top:433px;
  width:14px;
  height:56px;
}
#u6904 {
  position:absolute;
  left:2px;
  top:20px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u6905 {
  position:absolute;
  left:27px;
  top:436px;
  width:80px;
  height:50px;
}
#u6906 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6907 {
  position:absolute;
  left:165px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6908 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6909 {
  position:absolute;
  left:96px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6910 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6911 {
  position:absolute;
  left:234px;
  top:207px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6912 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6913 {
  position:absolute;
  left:278px;
  top:227px;
  width:20px;
  height:20px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6915 {
  position:absolute;
  left:165px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6916 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(20, 70, 186, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6917 {
  position:absolute;
  left:96px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6918 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(53, 214, 214, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6919 {
  position:absolute;
  left:234px;
  top:276px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6920 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6921 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:428px;
  width:373px;
  height:1px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u6925 {
  position:absolute;
  left:-8px;
  top:496px;
  width:384px;
  height:1px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6927 {
  position:absolute;
  left:115px;
  top:501px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6929 {
  position:absolute;
  left:115px;
  top:412px;
  width:133px;
  height:15px;
  font-size:12px;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6931 {
  position:absolute;
  left:115px;
  top:474px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6933 {
  position:absolute;
  left:317px;
  top:480px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6934 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6935 {
  position:absolute;
  left:335px;
  top:413px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u6936 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6937 {
  position:absolute;
  left:336px;
  top:366px;
  width:30px;
  height:20px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u6939 {
  position:absolute;
  left:337px;
  top:435px;
  width:30px;
  height:20px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6941 {
  position:absolute;
  left:344px;
  top:501px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6943 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6945 {
  position:absolute;
  left:2px;
  top:96px;
  width:373px;
  height:570px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:277px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6947 {
  position:absolute;
  left:278px;
  top:296px;
  width:20px;
  height:20px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u6949 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u6950 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
}
#u6951 {
  position:absolute;
  left:3px;
  top:398px;
  width:372px;
  height:50px;
}
#u6952 {
  position:absolute;
  left:2px;
  top:17px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6953 {
  position:absolute;
  left:12px;
  top:89px;
  width:90px;
  height:90px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6955 {
  position:absolute;
  left:143px;
  top:89px;
  width:90px;
  height:90px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6957 {
  position:absolute;
  left:273px;
  top:89px;
  width:90px;
  height:90px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6959 {
  position:absolute;
  left:12px;
  top:229px;
  width:90px;
  height:90px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6961 {
  position:absolute;
  left:144px;
  top:229px;
  width:90px;
  height:90px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6963 {
  position:absolute;
  left:274px;
  top:229px;
  width:90px;
  height:90px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6965 {
  position:absolute;
  left:12px;
  top:367px;
  width:90px;
  height:90px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6967 {
  position:absolute;
  left:143px;
  top:367px;
  width:90px;
  height:90px;
}
#u6968 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u6969 {
  position:absolute;
  left:273px;
  top:367px;
  width:90px;
  height:90px;
}
#u6970 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6971 {
  position:absolute;
  left:34px;
  top:183px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6973 {
  position:absolute;
  left:163px;
  top:182px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6975 {
  position:absolute;
  left:295px;
  top:182px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6977 {
  position:absolute;
  left:188px;
  top:179px;
  width:1px;
  height:50px;
}
#u6978 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6979 {
  position:absolute;
  left:189px;
  top:197px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6981 {
  position:absolute;
  left:188px;
  top:318px;
  width:1px;
  height:50px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u6983 {
  position:absolute;
  left:100px;
  top:138px;
  width:43px;
  height:1px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u6985 {
  position:absolute;
  left:231px;
  top:136px;
  width:43px;
  height:1px;
}
#u6986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6987 {
  position:absolute;
  left:100px;
  top:122px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6989 {
  position:absolute;
  left:188px;
  top:457px;
  width:1px;
  height:50px;
}
#u6990 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6991 {
  position:absolute;
  left:34px;
  top:322px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6993 {
  position:absolute;
  left:163px;
  top:321px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6995 {
  position:absolute;
  left:295px;
  top:321px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6997 {
  position:absolute;
  left:35px;
  top:462px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6999 {
  position:absolute;
  left:164px;
  top:461px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7001 {
  position:absolute;
  left:296px;
  top:461px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7003 {
  position:absolute;
  left:13px;
  top:507px;
  width:90px;
  height:90px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7005 {
  position:absolute;
  left:144px;
  top:507px;
  width:90px;
  height:90px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7007 {
  position:absolute;
  left:274px;
  top:507px;
  width:90px;
  height:90px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7009 {
  position:absolute;
  left:36px;
  top:602px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7011 {
  position:absolute;
  left:165px;
  top:601px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7013 {
  position:absolute;
  left:297px;
  top:601px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7015 {
  position:absolute;
  left:28px;
  top:142px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
