body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u622 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623 {
  position:absolute;
  left:19px;
  top:457px;
  width:336px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:54px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:19px;
  top:238px;
  width:336px;
  height:54px;
}
#u625 {
  position:absolute;
  left:2px;
  top:19px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:385px;
  top:228px;
  width:635px;
  height:251px;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u628 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:30px;
}
#u629 {
  position:absolute;
  left:140px;
  top:0px;
  width:490px;
  height:30px;
}
#u630 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u631 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:36px;
}
#u632 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u633 {
  position:absolute;
  left:140px;
  top:30px;
  width:490px;
  height:36px;
  text-align:left;
}
#u634 {
  position:absolute;
  left:2px;
  top:2px;
  width:486px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u635 {
  position:absolute;
  left:0px;
  top:66px;
  width:140px;
  height:36px;
}
#u636 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u637 {
  position:absolute;
  left:140px;
  top:66px;
  width:490px;
  height:36px;
  text-align:left;
}
#u638 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u639 {
  position:absolute;
  left:0px;
  top:102px;
  width:140px;
  height:36px;
}
#u640 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u641 {
  position:absolute;
  left:140px;
  top:102px;
  width:490px;
  height:36px;
  text-align:left;
}
#u642 {
  position:absolute;
  left:2px;
  top:2px;
  width:486px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u643 {
  position:absolute;
  left:0px;
  top:138px;
  width:140px;
  height:36px;
}
#u644 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u645 {
  position:absolute;
  left:140px;
  top:138px;
  width:490px;
  height:36px;
  text-align:left;
}
#u646 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u647 {
  position:absolute;
  left:0px;
  top:174px;
  width:140px;
  height:36px;
}
#u648 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u649 {
  position:absolute;
  left:140px;
  top:174px;
  width:490px;
  height:36px;
  text-align:left;
}
#u650 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u651 {
  position:absolute;
  left:0px;
  top:210px;
  width:140px;
  height:36px;
}
#u652 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u653 {
  position:absolute;
  left:140px;
  top:210px;
  width:490px;
  height:36px;
  text-align:left;
}
#u654 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:385px;
  top:0px;
  width:635px;
  height:215px;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u657 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u658 {
  position:absolute;
  left:140px;
  top:0px;
  width:210px;
  height:30px;
}
#u659 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u660 {
  position:absolute;
  left:350px;
  top:0px;
  width:280px;
  height:30px;
}
#u661 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u662 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:36px;
}
#u663 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u664 {
  position:absolute;
  left:140px;
  top:30px;
  width:210px;
  height:36px;
}
#u665 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u666 {
  position:absolute;
  left:350px;
  top:30px;
  width:280px;
  height:36px;
}
#u667 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u668 {
  position:absolute;
  left:0px;
  top:66px;
  width:140px;
  height:36px;
}
#u669 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u670 {
  position:absolute;
  left:140px;
  top:66px;
  width:210px;
  height:36px;
}
#u671 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u672 {
  position:absolute;
  left:350px;
  top:66px;
  width:280px;
  height:36px;
}
#u673 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u674 {
  position:absolute;
  left:0px;
  top:102px;
  width:140px;
  height:36px;
}
#u675 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u676 {
  position:absolute;
  left:140px;
  top:102px;
  width:210px;
  height:36px;
}
#u677 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u678 {
  position:absolute;
  left:350px;
  top:102px;
  width:280px;
  height:36px;
}
#u679 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u680 {
  position:absolute;
  left:0px;
  top:138px;
  width:140px;
  height:36px;
}
#u681 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u682 {
  position:absolute;
  left:140px;
  top:138px;
  width:210px;
  height:36px;
}
#u683 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u684 {
  position:absolute;
  left:350px;
  top:138px;
  width:280px;
  height:36px;
}
#u685 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u686 {
  position:absolute;
  left:0px;
  top:174px;
  width:140px;
  height:36px;
}
#u687 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u688 {
  position:absolute;
  left:140px;
  top:174px;
  width:210px;
  height:36px;
}
#u689 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u690 {
  position:absolute;
  left:350px;
  top:174px;
  width:280px;
  height:36px;
}
#u691 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:127px;
  height:5px;
}
#u692 {
  position:absolute;
  left:0px;
  top:131px;
  width:124px;
  height:2px;
}
#u693 {
  position:absolute;
  left:2px;
  top:-7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u694 {
  position:absolute;
  left:31px;
  top:105px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:129px;
}
#u696 {
  position:absolute;
  left:187px;
  top:72px;
  width:2px;
  height:126px;
}
#u697 {
  position:absolute;
  left:2px;
  top:55px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u698 {
  position:absolute;
  left:187px;
  top:127px;
  width:62px;
  height:16px;
  color:#FF0000;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u700_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:54px;
}
#u700 {
  position:absolute;
  left:239px;
  top:21px;
  width:2px;
  height:51px;
}
#u701 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u702 {
  position:absolute;
  left:251px;
  top:39px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:106px;
}
#u704 {
  position:absolute;
  left:213px;
  top:198px;
  width:2px;
  height:103px;
}
#u705 {
  position:absolute;
  left:2px;
  top:44px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u706 {
  position:absolute;
  left:225px;
  top:257px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u708_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u708 {
  position:absolute;
  left:0px;
  top:301px;
  width:20px;
  height:2px;
}
#u709 {
  position:absolute;
  left:2px;
  top:-7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u710 {
  position:absolute;
  left:3px;
  top:303px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:53px;
}
#u712 {
  position:absolute;
  left:126px;
  top:303px;
  width:1px;
  height:52px;
}
#u713 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u714 {
  position:absolute;
  left:131px;
  top:320px;
  width:48px;
  height:16px;
  color:#FF0000;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:12px;
}
#u716 {
  position:absolute;
  left:171px;
  top:355px;
  width:2px;
  height:9px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u718 {
  position:absolute;
  left:174px;
  top:348px;
  width:41px;
  height:16px;
  color:#FF0000;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:44px;
}
#u720 {
  position:absolute;
  left:126px;
  top:417px;
  width:2px;
  height:41px;
}
#u721 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u722 {
  position:absolute;
  left:131px;
  top:434px;
  width:48px;
  height:16px;
  color:#FF0000;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:96px;
  height:5px;
}
#u724 {
  position:absolute;
  left:282px;
  top:437px;
  width:93px;
  height:2px;
}
#u725 {
  position:absolute;
  left:2px;
  top:-7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u726 {
  position:absolute;
  left:308px;
  top:417px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:337px;
  height:5px;
}
#u728 {
  position:absolute;
  left:20px;
  top:344px;
  width:334px;
  height:2px;
}
#u729 {
  position:absolute;
  left:2px;
  top:-7px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u730 {
  position:absolute;
  left:196px;
  top:326px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u732 {
  position:absolute;
  left:23px;
  top:314px;
  width:30px;
  height:30px;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u734 {
  position:absolute;
  left:23px;
  top:374px;
  width:30px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736 {
  position:absolute;
  left:385px;
  top:489px;
  width:635px;
  height:143px;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u738 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:30px;
}
#u739 {
  position:absolute;
  left:140px;
  top:0px;
  width:490px;
  height:30px;
}
#u740 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u741 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:36px;
}
#u742 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u743 {
  position:absolute;
  left:140px;
  top:30px;
  width:490px;
  height:36px;
  text-align:left;
}
#u744 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u745 {
  position:absolute;
  left:0px;
  top:66px;
  width:140px;
  height:36px;
}
#u746 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u747 {
  position:absolute;
  left:140px;
  top:66px;
  width:490px;
  height:36px;
  text-align:left;
}
#u748 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u749 {
  position:absolute;
  left:0px;
  top:102px;
  width:140px;
  height:36px;
}
#u750 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:36px;
}
#u751 {
  position:absolute;
  left:140px;
  top:102px;
  width:490px;
  height:36px;
  text-align:left;
}
#u752 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u753 {
  position:absolute;
  left:23px;
  top:344px;
  width:50px;
  height:16px;
  color:#FF0000;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u755 {
  position:absolute;
  left:90px;
  top:532px;
  width:215px;
  height:16px;
  color:#FF0000;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
