body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3931 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3933 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:647px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3935 {
  position:absolute;
  left:2px;
  top:64px;
  width:373px;
  height:32px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3937 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3939 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3941 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3943 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3945 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3947 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3949 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3951 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3953 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3955 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3957 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u3959 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u3960 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3961 {
  position:absolute;
  left:11px;
  top:33px;
  width:40px;
  height:19px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:95px;
  width:373px;
  height:1px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:832px;
  top:848px;
  width:29px;
  height:16px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3967 {
  position:absolute;
  left:10px;
  top:158px;
  width:354px;
  height:228px;
  font-size:12px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:106px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969 {
  position:absolute;
  left:10px;
  top:168px;
  width:359px;
  height:203px;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3971 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3972 {
  position:absolute;
  left:202px;
  top:0px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3973 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3974 {
  position:absolute;
  left:270px;
  top:0px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3975 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3976 {
  position:absolute;
  left:0px;
  top:22px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3977 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3978 {
  position:absolute;
  left:202px;
  top:22px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3979 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3980 {
  position:absolute;
  left:270px;
  top:22px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3981 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3982 {
  position:absolute;
  left:0px;
  top:44px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3983 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3984 {
  position:absolute;
  left:202px;
  top:44px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3985 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3986 {
  position:absolute;
  left:270px;
  top:44px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3987 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:66px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3989 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3990 {
  position:absolute;
  left:202px;
  top:66px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3991 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3992 {
  position:absolute;
  left:270px;
  top:66px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3993 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:88px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3995 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3996 {
  position:absolute;
  left:202px;
  top:88px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3997 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3998 {
  position:absolute;
  left:270px;
  top:88px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3999 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4001 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u4002 {
  position:absolute;
  left:202px;
  top:110px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4003 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u4004 {
  position:absolute;
  left:270px;
  top:110px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4005 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:132px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4007 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u4008 {
  position:absolute;
  left:202px;
  top:132px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4009 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u4010 {
  position:absolute;
  left:270px;
  top:132px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4011 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:154px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4013 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u4014 {
  position:absolute;
  left:202px;
  top:154px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4015 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u4016 {
  position:absolute;
  left:270px;
  top:154px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:176px;
  width:202px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4019 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u4020 {
  position:absolute;
  left:202px;
  top:176px;
  width:68px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4021 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u4022 {
  position:absolute;
  left:270px;
  top:176px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4023 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u4024 {
  position:absolute;
  left:120px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u4025 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u4026 {
  position:absolute;
  left:168px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u4027 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u4028 {
  position:absolute;
  left:216px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u4029 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u4030 {
  position:absolute;
  left:1px;
  top:95px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u4031 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u4032 {
  position:absolute;
  left:1px;
  top:126px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u4033 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4034 {
  position:absolute;
  left:287px;
  top:103px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4036 {
  position:absolute;
  left:287px;
  top:134px;
  width:75px;
  height:16px;
  color:#000000;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4038 {
  position:absolute;
  left:200px;
  top:195px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4040 {
  position:absolute;
  left:215px;
  top:34px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4042_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u4042 {
  position:absolute;
  left:289px;
  top:21px;
  width:2px;
  height:45px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4044 {
  position:absolute;
  left:295px;
  top:33px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4046 {
  position:absolute;
  left:10px;
  top:82px;
  width:102px;
  height:16px;
  color:#FF0000;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4048 {
  position:absolute;
  left:166px;
  top:100px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4050 {
  position:absolute;
  left:52px;
  top:416px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
