body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5288 {
  position:absolute;
  left:420px;
  top:0px;
  width:375px;
  height:667px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5290 {
  position:absolute;
  left:420px;
  top:20px;
  width:375px;
  height:647px;
}
#u5291 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5292 {
  position:absolute;
  left:421px;
  top:64px;
  width:373px;
  height:10px;
}
#u5293 {
  position:absolute;
  left:2px;
  top:-3px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5294 {
  position:absolute;
  left:434px;
  top:35px;
  width:20px;
  height:20px;
}
#u5295 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5296 {
  position:absolute;
  left:511px;
  top:35px;
  width:20px;
  height:20px;
}
#u5297 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5298 {
  position:absolute;
  left:506px;
  top:396px;
  width:20px;
  height:20px;
}
#u5299 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5300 {
  position:absolute;
  left:451px;
  top:620px;
  width:30px;
  height:28px;
}
#u5301 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5302 {
  position:absolute;
  left:452px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5303 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5304 {
  position:absolute;
  left:545px;
  top:620px;
  width:30px;
  height:28px;
}
#u5305 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5306 {
  position:absolute;
  left:546px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5307 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5308 {
  position:absolute;
  left:731px;
  top:621px;
  width:30px;
  height:28px;
}
#u5309 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5310 {
  position:absolute;
  left:739px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u5311 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u5312 {
  position:absolute;
  left:421px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u5313 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5314 {
  position:absolute;
  left:430px;
  top:33px;
  width:40px;
  height:19px;
}
#u5315 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5316 {
  position:absolute;
  left:1251px;
  top:848px;
  width:29px;
  height:16px;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:228px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5318 {
  position:absolute;
  left:429px;
  top:292px;
  width:354px;
  height:228px;
  font-size:12px;
}
#u5319 {
  position:absolute;
  left:2px;
  top:106px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320 {
  position:absolute;
  left:429px;
  top:302px;
  width:359px;
  height:203px;
}
#u5321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5321 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5322 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5323 {
  position:absolute;
  left:202px;
  top:0px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5324 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5325 {
  position:absolute;
  left:270px;
  top:0px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5326 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5327 {
  position:absolute;
  left:0px;
  top:22px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5328 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5329 {
  position:absolute;
  left:202px;
  top:22px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5330 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5331 {
  position:absolute;
  left:270px;
  top:22px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5332 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5333 {
  position:absolute;
  left:0px;
  top:44px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5334 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5335 {
  position:absolute;
  left:202px;
  top:44px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5336 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5337 {
  position:absolute;
  left:270px;
  top:44px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5338 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5339 {
  position:absolute;
  left:0px;
  top:66px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5340 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5341 {
  position:absolute;
  left:202px;
  top:66px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5342 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5343 {
  position:absolute;
  left:270px;
  top:66px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5344 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5345 {
  position:absolute;
  left:0px;
  top:88px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5346 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5347 {
  position:absolute;
  left:202px;
  top:88px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5348 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5349 {
  position:absolute;
  left:270px;
  top:88px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5350 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5351 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5352 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5353 {
  position:absolute;
  left:202px;
  top:110px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5354 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5355 {
  position:absolute;
  left:270px;
  top:110px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5356 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5357 {
  position:absolute;
  left:0px;
  top:132px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5358 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5359 {
  position:absolute;
  left:202px;
  top:132px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5360 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5361 {
  position:absolute;
  left:270px;
  top:132px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5362 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5363 {
  position:absolute;
  left:0px;
  top:154px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5364 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5365 {
  position:absolute;
  left:202px;
  top:154px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5366 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5367 {
  position:absolute;
  left:270px;
  top:154px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5368 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u5369 {
  position:absolute;
  left:0px;
  top:176px;
  width:202px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5370 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u5371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u5371 {
  position:absolute;
  left:202px;
  top:176px;
  width:68px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5372 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u5373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5373 {
  position:absolute;
  left:270px;
  top:176px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5374 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u5375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u5375 {
  position:absolute;
  left:539px;
  top:202px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u5376 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u5377 {
  position:absolute;
  left:587px;
  top:202px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u5378 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u5379 {
  position:absolute;
  left:635px;
  top:202px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u5380 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u5381 {
  position:absolute;
  left:420px;
  top:228px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u5382 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u5383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u5383 {
  position:absolute;
  left:420px;
  top:259px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u5384 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u5385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5385 {
  position:absolute;
  left:706px;
  top:238px;
  width:75px;
  height:16px;
  color:#0000FF;
}
#u5386 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5387 {
  position:absolute;
  left:706px;
  top:269px;
  width:75px;
  height:16px;
  color:#0000FF;
}
#u5388 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5389 {
  position:absolute;
  left:2px;
  top:0px;
  width:375px;
  height:667px;
}
#u5390 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5391 {
  position:absolute;
  left:2px;
  top:20px;
  width:375px;
  height:647px;
}
#u5392 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5393 {
  position:absolute;
  left:3px;
  top:64px;
  width:373px;
  height:32px;
}
#u5394 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5395 {
  position:absolute;
  left:16px;
  top:35px;
  width:20px;
  height:20px;
}
#u5396 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5397 {
  position:absolute;
  left:93px;
  top:35px;
  width:20px;
  height:20px;
}
#u5398 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5399 {
  position:absolute;
  left:88px;
  top:396px;
  width:20px;
  height:20px;
}
#u5400 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5401 {
  position:absolute;
  left:33px;
  top:620px;
  width:30px;
  height:28px;
}
#u5402 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5403 {
  position:absolute;
  left:34px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5404 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5405 {
  position:absolute;
  left:127px;
  top:620px;
  width:30px;
  height:28px;
}
#u5406 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5407 {
  position:absolute;
  left:128px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5408 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5409 {
  position:absolute;
  left:219px;
  top:621px;
  width:30px;
  height:28px;
}
#u5410 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5411 {
  position:absolute;
  left:220px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u5413 {
  position:absolute;
  left:313px;
  top:621px;
  width:30px;
  height:28px;
}
#u5414 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5415 {
  position:absolute;
  left:321px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u5416 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u5417 {
  position:absolute;
  left:3px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u5418 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u5419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5419 {
  position:absolute;
  left:12px;
  top:33px;
  width:40px;
  height:19px;
}
#u5420 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5421 {
  position:absolute;
  left:3px;
  top:95px;
  width:373px;
  height:1px;
}
#u5422 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5423 {
  position:absolute;
  left:11px;
  top:158px;
  width:354px;
  height:228px;
  font-size:12px;
}
#u5424 {
  position:absolute;
  left:2px;
  top:106px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5425 {
  position:absolute;
  left:11px;
  top:168px;
  width:359px;
  height:203px;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5426 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5427 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5428 {
  position:absolute;
  left:202px;
  top:0px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5429 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5430 {
  position:absolute;
  left:270px;
  top:0px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5431 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5432 {
  position:absolute;
  left:0px;
  top:22px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5433 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5434 {
  position:absolute;
  left:202px;
  top:22px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5435 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5436 {
  position:absolute;
  left:270px;
  top:22px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5437 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5438 {
  position:absolute;
  left:0px;
  top:44px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5439 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5440 {
  position:absolute;
  left:202px;
  top:44px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5441 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5442 {
  position:absolute;
  left:270px;
  top:44px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5443 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5444 {
  position:absolute;
  left:0px;
  top:66px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5445 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5446 {
  position:absolute;
  left:202px;
  top:66px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5447 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5448 {
  position:absolute;
  left:270px;
  top:66px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5449 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5450 {
  position:absolute;
  left:0px;
  top:88px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5451 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5452 {
  position:absolute;
  left:202px;
  top:88px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5453 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5454 {
  position:absolute;
  left:270px;
  top:88px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5455 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5456 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5457 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5458 {
  position:absolute;
  left:202px;
  top:110px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5459 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5460 {
  position:absolute;
  left:270px;
  top:110px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5461 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5462 {
  position:absolute;
  left:0px;
  top:132px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5463 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5464 {
  position:absolute;
  left:202px;
  top:132px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5465 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5466 {
  position:absolute;
  left:270px;
  top:132px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5467 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u5468 {
  position:absolute;
  left:0px;
  top:154px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5469 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u5470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u5470 {
  position:absolute;
  left:202px;
  top:154px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5471 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u5472 {
  position:absolute;
  left:270px;
  top:154px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5473 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u5474 {
  position:absolute;
  left:0px;
  top:176px;
  width:202px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5475 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u5476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u5476 {
  position:absolute;
  left:202px;
  top:176px;
  width:68px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5477 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u5478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5478 {
  position:absolute;
  left:270px;
  top:176px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5479 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u5480 {
  position:absolute;
  left:121px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u5481 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u5482 {
  position:absolute;
  left:169px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u5483 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u5484 {
  position:absolute;
  left:217px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u5485 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u5486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u5486 {
  position:absolute;
  left:2px;
  top:95px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u5487 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u5488 {
  position:absolute;
  left:2px;
  top:126px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u5489 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u5490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5490 {
  position:absolute;
  left:288px;
  top:103px;
  width:75px;
  height:16px;
  color:#000000;
}
#u5491 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5492 {
  position:absolute;
  left:288px;
  top:134px;
  width:75px;
  height:16px;
  color:#000000;
}
#u5493 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5494 {
  position:absolute;
  left:201px;
  top:195px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u5495 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u5496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5496 {
  position:absolute;
  left:216px;
  top:34px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u5497 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5498_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u5498 {
  position:absolute;
  left:290px;
  top:21px;
  width:2px;
  height:45px;
}
#u5499 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5500 {
  position:absolute;
  left:296px;
  top:33px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u5501 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5502 {
  position:absolute;
  left:11px;
  top:82px;
  width:102px;
  height:16px;
  color:#FF0000;
}
#u5503 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5504 {
  position:absolute;
  left:167px;
  top:100px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u5505 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5506 {
  position:absolute;
  left:53px;
  top:416px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u5507 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u5508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u5508 {
  position:absolute;
  left:2px;
  top:1px;
  width:375px;
  height:666px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u5509 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  word-wrap:break-word;
}
#u5510 {
  position:absolute;
  left:52px;
  top:378px;
  width:300px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u5510_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5510_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u5511 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u5512 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5513 {
  position:absolute;
  left:52px;
  top:353px;
  width:117px;
  height:24px;
  color:#FF0000;
}
#u5514 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u5515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5515 {
  position:absolute;
  left:421px;
  top:182px;
  width:373px;
  height:10px;
}
#u5516 {
  position:absolute;
  left:2px;
  top:-3px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u5517 {
  position:absolute;
  left:429px;
  top:76px;
  width:102px;
  height:102px;
}
#u5518 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5519 {
  position:absolute;
  left:553px;
  top:97px;
  width:233px;
  height:65px;
}
#u5520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u5520 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u5521 {
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u5522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u5522 {
  position:absolute;
  left:0px;
  top:30px;
  width:228px;
  height:30px;
}
#u5523 {
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
