body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2973 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2975 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:647px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977 {
  position:absolute;
  left:2px;
  top:64px;
  width:373px;
  height:32px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2979 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2981 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2983 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2985 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2987 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2988 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2989 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2991 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2993 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u2994 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2995 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2997 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2999 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u3001 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u3002 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3003 {
  position:absolute;
  left:11px;
  top:33px;
  width:40px;
  height:19px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3005 {
  position:absolute;
  left:2px;
  top:95px;
  width:373px;
  height:1px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3007 {
  position:absolute;
  left:832px;
  top:848px;
  width:29px;
  height:16px;
}
#u3008 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3009 {
  position:absolute;
  left:10px;
  top:158px;
  width:354px;
  height:228px;
  font-size:12px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:106px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011 {
  position:absolute;
  left:10px;
  top:168px;
  width:359px;
  height:203px;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3012 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3013 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3014 {
  position:absolute;
  left:202px;
  top:0px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3015 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3016 {
  position:absolute;
  left:270px;
  top:0px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3017 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3018 {
  position:absolute;
  left:0px;
  top:22px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3019 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3020 {
  position:absolute;
  left:202px;
  top:22px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3021 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3022 {
  position:absolute;
  left:270px;
  top:22px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3023 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3024 {
  position:absolute;
  left:0px;
  top:44px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3025 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3026 {
  position:absolute;
  left:202px;
  top:44px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3027 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3028 {
  position:absolute;
  left:270px;
  top:44px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3029 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3030 {
  position:absolute;
  left:0px;
  top:66px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3031 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3032 {
  position:absolute;
  left:202px;
  top:66px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3033 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3034 {
  position:absolute;
  left:270px;
  top:66px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3035 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3036 {
  position:absolute;
  left:0px;
  top:88px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3037 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3038 {
  position:absolute;
  left:202px;
  top:88px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3039 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3040 {
  position:absolute;
  left:270px;
  top:88px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3041 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3042 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3043 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3044 {
  position:absolute;
  left:202px;
  top:110px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3045 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3046 {
  position:absolute;
  left:270px;
  top:110px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3047 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3048 {
  position:absolute;
  left:0px;
  top:132px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3049 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3050 {
  position:absolute;
  left:202px;
  top:132px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3051 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3052 {
  position:absolute;
  left:270px;
  top:132px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3053 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u3054 {
  position:absolute;
  left:0px;
  top:154px;
  width:202px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3055 {
  position:absolute;
  left:2px;
  top:3px;
  width:198px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u3056 {
  position:absolute;
  left:202px;
  top:154px;
  width:68px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3057 {
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u3058 {
  position:absolute;
  left:270px;
  top:154px;
  width:84px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3059 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u3060 {
  position:absolute;
  left:0px;
  top:176px;
  width:202px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3061 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u3062 {
  position:absolute;
  left:202px;
  top:176px;
  width:68px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3063 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u3064 {
  position:absolute;
  left:270px;
  top:176px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u3065 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u3066 {
  position:absolute;
  left:120px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u3067 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u3068 {
  position:absolute;
  left:168px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u3069 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u3070 {
  position:absolute;
  left:216px;
  top:70px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#008000;
}
#u3071 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u3072 {
  position:absolute;
  left:1px;
  top:95px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u3073 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u3074 {
  position:absolute;
  left:1px;
  top:126px;
  width:375px;
  height:32px;
  color:#000000;
  text-align:left;
}
#u3075 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u3076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3076 {
  position:absolute;
  left:287px;
  top:103px;
  width:75px;
  height:16px;
  color:#000000;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3078 {
  position:absolute;
  left:287px;
  top:134px;
  width:75px;
  height:16px;
  color:#000000;
}
#u3079 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3080 {
  position:absolute;
  left:200px;
  top:195px;
  width:68px;
  height:16px;
  color:#FF0000;
}
#u3081 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3082 {
  position:absolute;
  left:215px;
  top:34px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3083 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3084_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u3084 {
  position:absolute;
  left:289px;
  top:21px;
  width:2px;
  height:45px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3086 {
  position:absolute;
  left:295px;
  top:33px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u3088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3088 {
  position:absolute;
  left:10px;
  top:82px;
  width:102px;
  height:16px;
  color:#FF0000;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u3090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3090 {
  position:absolute;
  left:166px;
  top:100px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u3092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3092 {
  position:absolute;
  left:52px;
  top:416px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u3093 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
