body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:763px;
}
#u629 {
  position:absolute;
  left:108px;
  top:33px;
  width:554px;
  height:763px;
}
#u630 {
  position:absolute;
  left:2px;
  top:374px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
