body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:945px;
  height:143px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-size:14px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u3 {
  position:absolute;
  left:40px;
  top:0px;
  width:200px;
  height:36px;
  font-size:14px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u5 {
  position:absolute;
  left:240px;
  top:0px;
  width:400px;
  height:36px;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7 {
  position:absolute;
  left:640px;
  top:0px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u9 {
  position:absolute;
  left:740px;
  top:0px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u11 {
  position:absolute;
  left:840px;
  top:0px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:40px;
  height:30px;
  font-size:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15 {
  position:absolute;
  left:40px;
  top:36px;
  width:200px;
  height:30px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u18 {
  position:absolute;
  left:240px;
  top:36px;
  width:400px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:640px;
  top:36px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FF0000;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:740px;
  top:36px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:840px;
  top:36px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:66px;
  width:40px;
  height:36px;
  font-size:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u28 {
  position:absolute;
  left:40px;
  top:66px;
  width:200px;
  height:36px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u32 {
  position:absolute;
  left:240px;
  top:66px;
  width:400px;
  height:36px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u34 {
  position:absolute;
  left:640px;
  top:66px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#FF0000;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u36 {
  position:absolute;
  left:740px;
  top:66px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u38 {
  position:absolute;
  left:840px;
  top:66px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:102px;
  width:40px;
  height:36px;
  font-size:14px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u42 {
  position:absolute;
  left:40px;
  top:102px;
  width:200px;
  height:36px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u46 {
  position:absolute;
  left:240px;
  top:102px;
  width:400px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u48 {
  position:absolute;
  left:640px;
  top:102px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#FF0000;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u50 {
  position:absolute;
  left:740px;
  top:102px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u52 {
  position:absolute;
  left:840px;
  top:102px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
