body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3936 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3938 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:598px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3940 {
  position:absolute;
  left:2px;
  top:159px;
  width:373px;
  height:32px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3942 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u3943 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u3944 {
  position:absolute;
  left:14px;
  top:161px;
  width:20px;
  height:27px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3946 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u3947 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3948 {
  position:absolute;
  left:38px;
  top:161px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u3949 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3950 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3952 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3954 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3956 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3958 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3960 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3962 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u3964 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3966 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u3968 {
  position:absolute;
  left:2px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u3969 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3970 {
  position:absolute;
  left:11px;
  top:33px;
  width:40px;
  height:19px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:190px;
  width:373px;
  height:1px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974 {
  position:absolute;
  left:11px;
  top:67px;
  width:359px;
  height:95px;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u3976 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u3977 {
  position:absolute;
  left:129px;
  top:0px;
  width:225px;
  height:30px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:30px;
  width:129px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u3980 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u3981 {
  position:absolute;
  left:129px;
  top:30px;
  width:225px;
  height:30px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:60px;
  width:129px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u3984 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u3985 {
  position:absolute;
  left:129px;
  top:60px;
  width:225px;
  height:30px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u3987 {
  position:absolute;
  left:181px;
  top:70px;
  width:90px;
  height:25px;
  font-size:14px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u3989 {
  position:absolute;
  left:181px;
  top:100px;
  width:90px;
  height:25px;
  font-size:14px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u3991 {
  position:absolute;
  left:181px;
  top:130px;
  width:90px;
  height:25px;
  font-size:14px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u3993 {
  position:absolute;
  left:10px;
  top:97px;
  width:355px;
  height:1px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u3995 {
  position:absolute;
  left:10px;
  top:127px;
  width:355px;
  height:1px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u3997 {
  position:absolute;
  left:10px;
  top:158px;
  width:355px;
  height:1px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:2px;
  top:190px;
  width:373px;
  height:93px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:38px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u4001 {
  position:absolute;
  left:11px;
  top:211px;
  width:80px;
  height:50px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003 {
  position:absolute;
  left:101px;
  top:197px;
  width:268px;
  height:85px;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4005 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4006 {
  position:absolute;
  left:186px;
  top:0px;
  width:77px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u4007 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:20px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4009 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4010 {
  position:absolute;
  left:186px;
  top:20px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4011 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:40px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4013 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4014 {
  position:absolute;
  left:186px;
  top:40px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4015 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4016 {
  position:absolute;
  left:0px;
  top:60px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4018 {
  position:absolute;
  left:186px;
  top:60px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u4019 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:2px;
  top:282px;
  width:373px;
  height:93px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:38px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u4022 {
  position:absolute;
  left:11px;
  top:303px;
  width:80px;
  height:50px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024 {
  position:absolute;
  left:101px;
  top:289px;
  width:268px;
  height:85px;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4026 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4027 {
  position:absolute;
  left:186px;
  top:0px;
  width:77px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u4028 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:20px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4030 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4031 {
  position:absolute;
  left:186px;
  top:20px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4032 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:40px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4034 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4035 {
  position:absolute;
  left:186px;
  top:40px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#008000;
  text-align:left;
}
#u4036 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:60px;
  width:186px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4038 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4039 {
  position:absolute;
  left:186px;
  top:60px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u4040 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4042 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
  font-size:14px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4044 {
  position:absolute;
  left:34px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4046 {
  position:absolute;
  left:36px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4048 {
  position:absolute;
  left:129px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4050 {
  position:absolute;
  left:130px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4052 {
  position:absolute;
  left:223px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4054 {
  position:absolute;
  left:224px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4056 {
  position:absolute;
  left:317px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4057 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4058 {
  position:absolute;
  left:323px;
  top:650px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:54px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  position:absolute;
  left:2px;
  top:612px;
  width:373px;
  height:54px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:19px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_ann {
  position:absolute;
  left:368px;
  top:608px;
  width:1px;
  height:1px;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4062 {
  position:absolute;
  left:80px;
  top:632px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u4064 {
  position:absolute;
  left:188px;
  top:617px;
  width:1px;
  height:45px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4066 {
  position:absolute;
  left:268px;
  top:632px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4068 {
  position:absolute;
  left:394px;
  top:0px;
  width:1086px;
  height:342px;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:30px;
}
#u4071 {
  position:absolute;
  left:157px;
  top:0px;
  width:924px;
  height:30px;
  font-size:14px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:7px;
  width:920px;
  word-wrap:break-word;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:30px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4075 {
  position:absolute;
  left:157px;
  top:30px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4076 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:68px;
}
#u4077 {
  position:absolute;
  left:0px;
  top:66px;
  width:157px;
  height:68px;
  font-size:14px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:26px;
  width:153px;
  word-wrap:break-word;
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:68px;
}
#u4079 {
  position:absolute;
  left:157px;
  top:66px;
  width:924px;
  height:68px;
  font-size:14px;
  text-align:left;
}
#u4080 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:63px;
}
#u4081 {
  position:absolute;
  left:0px;
  top:134px;
  width:157px;
  height:63px;
  font-size:14px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:24px;
  width:153px;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:63px;
}
#u4083 {
  position:absolute;
  left:157px;
  top:134px;
  width:924px;
  height:63px;
  font-size:14px;
  text-align:left;
}
#u4084 {
  position:absolute;
  left:2px;
  top:8px;
  width:920px;
  word-wrap:break-word;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u4085 {
  position:absolute;
  left:0px;
  top:197px;
  width:157px;
  height:52px;
  font-size:14px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:52px;
}
#u4087 {
  position:absolute;
  left:157px;
  top:197px;
  width:924px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u4088 {
  position:absolute;
  left:2px;
  top:2px;
  width:920px;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4089 {
  position:absolute;
  left:0px;
  top:249px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4091 {
  position:absolute;
  left:157px;
  top:249px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4092 {
  position:absolute;
  left:2px;
  top:2px;
  width:920px;
  word-wrap:break-word;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u4093 {
  position:absolute;
  left:0px;
  top:285px;
  width:157px;
  height:52px;
  font-size:14px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:52px;
}
#u4095 {
  position:absolute;
  left:157px;
  top:285px;
  width:924px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u4096 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4097 {
  position:absolute;
  left:167px;
  top:199px;
  width:15px;
  height:15px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4099 {
  position:absolute;
  left:180px;
  top:291px;
  width:15px;
  height:15px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101 {
  position:absolute;
  left:394px;
  top:358px;
  width:1294px;
  height:107px;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
  font-size:14px;
}
#u4103 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:30px;
}
#u4104 {
  position:absolute;
  left:158px;
  top:0px;
  width:259px;
  height:30px;
  font-size:14px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:7px;
  width:255px;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:30px;
}
#u4106 {
  position:absolute;
  left:417px;
  top:0px;
  width:526px;
  height:30px;
  font-size:14px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:7px;
  width:522px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:30px;
}
#u4108 {
  position:absolute;
  left:943px;
  top:0px;
  width:346px;
  height:30px;
  font-size:14px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:7px;
  width:342px;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u4110 {
  position:absolute;
  left:0px;
  top:30px;
  width:158px;
  height:36px;
  font-size:14px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u4112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u4112 {
  position:absolute;
  left:158px;
  top:30px;
  width:259px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4113 {
  position:absolute;
  left:2px;
  top:10px;
  width:255px;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:36px;
}
#u4114 {
  position:absolute;
  left:417px;
  top:30px;
  width:526px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4115 {
  position:absolute;
  left:2px;
  top:10px;
  width:522px;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:36px;
}
#u4116 {
  position:absolute;
  left:943px;
  top:30px;
  width:346px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4117 {
  position:absolute;
  left:2px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u4118 {
  position:absolute;
  left:0px;
  top:66px;
  width:158px;
  height:36px;
  font-size:14px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u4120 {
  position:absolute;
  left:158px;
  top:66px;
  width:259px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4121 {
  position:absolute;
  left:2px;
  top:10px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:36px;
}
#u4122 {
  position:absolute;
  left:417px;
  top:66px;
  width:526px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4123 {
  position:absolute;
  left:2px;
  top:10px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:36px;
}
#u4124 {
  position:absolute;
  left:943px;
  top:66px;
  width:346px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4125 {
  position:absolute;
  left:2px;
  top:10px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4126 {
  position:absolute;
  left:15px;
  top:74px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:2px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:102px;
  width:138px;
  height:1px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4130 {
  position:absolute;
  left:10px;
  top:108px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4132 {
  position:absolute;
  left:262px;
  top:135px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:200px;
  width:101px;
  height:1px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4136 {
  position:absolute;
  left:45px;
  top:202px;
  width:62px;
  height:16px;
  color:#FF0000;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4138 {
  position:absolute;
  left:-2px;
  top:321px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4140 {
  position:absolute;
  left:281px;
  top:229px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4142 {
  position:absolute;
  left:10px;
  top:388px;
  width:355px;
  height:16px;
  color:#FF0000;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4144 {
  position:absolute;
  left:204px;
  top:625px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4146 {
  position:absolute;
  left:109px;
  top:645px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u4147 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4148 {
  position:absolute;
  left:215px;
  top:34px;
  width:53px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4150_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u4150 {
  position:absolute;
  left:289px;
  top:21px;
  width:2px;
  height:45px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4152 {
  position:absolute;
  left:295px;
  top:33px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4154 {
  position:absolute;
  left:182px;
  top:199px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u4156 {
  position:absolute;
  left:15px;
  top:261px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u4158 {
  position:absolute;
  left:15px;
  top:353px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:53px;
}
#u4160 {
  position:absolute;
  left:36px;
  top:707px;
  width:40px;
  height:53px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
