body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3993 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:647px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:2px;
  top:63px;
  width:373px;
  height:32px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3999 {
  position:absolute;
  left:15px;
  top:35px;
  width:20px;
  height:20px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u4001 {
  position:absolute;
  left:14px;
  top:65px;
  width:20px;
  height:27px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4003 {
  position:absolute;
  left:92px;
  top:35px;
  width:20px;
  height:20px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u4005 {
  position:absolute;
  left:38px;
  top:65px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u4006 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4007 {
  position:absolute;
  left:87px;
  top:396px;
  width:20px;
  height:20px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u4011 {
  position:absolute;
  left:32px;
  top:620px;
  width:30px;
  height:28px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4013 {
  position:absolute;
  left:33px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u4015 {
  position:absolute;
  left:126px;
  top:620px;
  width:30px;
  height:28px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4017 {
  position:absolute;
  left:127px;
  top:650px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u4019 {
  position:absolute;
  left:218px;
  top:621px;
  width:30px;
  height:28px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4021 {
  position:absolute;
  left:219px;
  top:651px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u4023 {
  position:absolute;
  left:312px;
  top:621px;
  width:30px;
  height:28px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4025 {
  position:absolute;
  left:320px;
  top:651px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u4027 {
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u4028 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u4029 {
  position:absolute;
  left:11px;
  top:33px;
  width:40px;
  height:19px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:94px;
  width:373px;
  height:1px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  position:absolute;
  left:832px;
  top:848px;
  width:29px;
  height:16px;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4035 {
  position:absolute;
  left:123px;
  top:28px;
  width:137px;
  height:35px;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u4036 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  color:#FFFFFF;
}
#u4037 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u4038 {
  position:absolute;
  left:66px;
  top:0px;
  width:66px;
  height:30px;
  color:#FFFFFF;
}
#u4039 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u4040 {
  position:absolute;
  left:2px;
  top:95px;
  width:373px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u4041 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4042 {
  position:absolute;
  left:342px;
  top:100px;
  width:20px;
  height:20px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  position:absolute;
  left:3px;
  top:127px;
  width:373px;
  height:72px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:199px;
  width:373px;
  height:1px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:3px;
  top:200px;
  width:373px;
  height:72px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:272px;
  width:373px;
  height:1px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u4052 {
  position:absolute;
  left:2px;
  top:273px;
  width:373px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u4053 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4054 {
  position:absolute;
  left:342px;
  top:278px;
  width:20px;
  height:20px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4056 {
  position:absolute;
  left:17px;
  top:103px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4056_ann {
  position:absolute;
  left:67px;
  top:99px;
  width:1px;
  height:1px;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4058 {
  position:absolute;
  left:136px;
  top:103px;
  width:37px;
  height:16px;
  color:#666666;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4060 {
  position:absolute;
  left:239px;
  top:103px;
  width:45px;
  height:16px;
  color:#666666;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4062 {
  position:absolute;
  left:137px;
  top:281px;
  width:37px;
  height:16px;
  color:#666666;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4064 {
  position:absolute;
  left:240px;
  top:280px;
  width:45px;
  height:16px;
  color:#666666;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4066 {
  position:absolute;
  left:103px;
  top:154px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4067 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4068 {
  position:absolute;
  left:104px;
  top:133px;
  width:99px;
  height:16px;
  color:#666666;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4070 {
  position:absolute;
  left:103px;
  top:206px;
  width:71px;
  height:16px;
  color:#666666;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4072 {
  position:absolute;
  left:17px;
  top:139px;
  width:50px;
  height:50px;
}
#u4073 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4074 {
  position:absolute;
  left:16px;
  top:212px;
  width:50px;
  height:50px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4076 {
  position:absolute;
  left:171px;
  top:227px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4077 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4078 {
  position:absolute;
  left:102px;
  top:227px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4079 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4081 {
  position:absolute;
  left:1px;
  top:618px;
  width:375px;
  height:49px;
  font-size:14px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4083 {
  position:absolute;
  left:34px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4085 {
  position:absolute;
  left:36px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4087 {
  position:absolute;
  left:129px;
  top:620px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4089 {
  position:absolute;
  left:130px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4091 {
  position:absolute;
  left:223px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4093 {
  position:absolute;
  left:224px;
  top:650px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4095 {
  position:absolute;
  left:317px;
  top:621px;
  width:25px;
  height:25px;
  font-size:14px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4097 {
  position:absolute;
  left:323px;
  top:650px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4098 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4099 {
  position:absolute;
  left:3px;
  top:305px;
  width:373px;
  height:72px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4101 {
  position:absolute;
  left:3px;
  top:378px;
  width:373px;
  height:72px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4103 {
  position:absolute;
  left:103px;
  top:332px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4104 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4105 {
  position:absolute;
  left:104px;
  top:311px;
  width:99px;
  height:16px;
  color:#666666;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4107 {
  position:absolute;
  left:103px;
  top:384px;
  width:71px;
  height:16px;
  color:#666666;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4109 {
  position:absolute;
  left:17px;
  top:317px;
  width:50px;
  height:50px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4111 {
  position:absolute;
  left:16px;
  top:390px;
  width:50px;
  height:50px;
}
#u4112 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4113 {
  position:absolute;
  left:171px;
  top:405px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4114 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4115 {
  position:absolute;
  left:102px;
  top:405px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4116 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4117 {
  position:absolute;
  left:240px;
  top:405px;
  width:65px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4118 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:54px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:612px;
  width:373px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4120 {
  position:absolute;
  left:2px;
  top:19px;
  width:369px;
  word-wrap:break-word;
}
#u4121 {
  position:absolute;
  left:386px;
  top:0px;
  width:1086px;
  height:315px;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u4124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:30px;
}
#u4124 {
  position:absolute;
  left:157px;
  top:0px;
  width:924px;
  height:30px;
  font-size:14px;
}
#u4125 {
  position:absolute;
  left:2px;
  top:7px;
  width:920px;
  word-wrap:break-word;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4126 {
  position:absolute;
  left:0px;
  top:30px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4128 {
  position:absolute;
  left:157px;
  top:30px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4129 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4130 {
  position:absolute;
  left:0px;
  top:66px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4132 {
  position:absolute;
  left:157px;
  top:66px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4133 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:84px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:102px;
  width:157px;
  height:84px;
  font-size:14px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:34px;
  width:153px;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:84px;
}
#u4136 {
  position:absolute;
  left:157px;
  top:102px;
  width:924px;
  height:84px;
  font-size:14px;
  text-align:left;
}
#u4137 {
  position:absolute;
  left:2px;
  top:2px;
  width:920px;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4138 {
  position:absolute;
  left:0px;
  top:186px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4140 {
  position:absolute;
  left:157px;
  top:186px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4141 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u4142 {
  position:absolute;
  left:0px;
  top:222px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:36px;
}
#u4144 {
  position:absolute;
  left:157px;
  top:222px;
  width:924px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u4145 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u4146 {
  position:absolute;
  left:0px;
  top:258px;
  width:157px;
  height:52px;
  font-size:14px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:52px;
}
#u4148 {
  position:absolute;
  left:157px;
  top:258px;
  width:924px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u4149 {
  position:absolute;
  left:2px;
  top:10px;
  width:920px;
  word-wrap:break-word;
}
#u4150_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:47px;
}
#u4150 {
  position:absolute;
  left:289px;
  top:20px;
  width:2px;
  height:44px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4152 {
  position:absolute;
  left:295px;
  top:33px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4154 {
  position:absolute;
  left:111px;
  top:19px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4156 {
  position:absolute;
  left:9px;
  top:538px;
  width:355px;
  height:16px;
  color:#FF0000;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:34px;
}
#u4158 {
  position:absolute;
  left:309px;
  top:65px;
  width:2px;
  height:31px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4160 {
  position:absolute;
  left:316px;
  top:66px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4162 {
  position:absolute;
  left:223px;
  top:102px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4164 {
  position:absolute;
  left:263px;
  top:156px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4166_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:75px;
}
#u4166 {
  position:absolute;
  left:245px;
  top:128px;
  width:2px;
  height:72px;
}
#u4167 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4168 {
  position:absolute;
  left:30px;
  top:156px;
  width:46px;
  height:16px;
  color:#FF0000;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2px;
}
#u4170 {
  position:absolute;
  left:0px;
  top:137px;
  width:104px;
  height:1px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4172 {
  position:absolute;
  left:48px;
  top:119px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4174 {
  position:absolute;
  left:152px;
  top:180px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4176 {
  position:absolute;
  left:121px;
  top:253px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4178 {
  position:absolute;
  left:16px;
  top:629px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4180 {
  position:absolute;
  left:17px;
  top:281px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4181 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(53, 214, 214, 0.8);
}
#u4182 {
  position:absolute;
  left:303px;
  top:102px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(53, 214, 214, 0.8);
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(53, 214, 214, 0.8);
}
#u4184 {
  position:absolute;
  left:303px;
  top:281px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(53, 214, 214, 0.8);
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
