body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:600px;
}
#u963 {
  position:absolute;
  left:91px;
  top:49px;
  width:640px;
  height:600px;
}
#u964 {
  position:absolute;
  left:2px;
  top:292px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
