body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6847 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6848 {
  position:absolute;
  left:1px;
  top:396px;
  width:373px;
  height:32px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6850 {
  position:absolute;
  left:14px;
  top:35px;
  width:20px;
  height:20px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u6852 {
  position:absolute;
  left:13px;
  top:397px;
  width:20px;
  height:27px;
}
#u6853 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6854 {
  position:absolute;
  left:91px;
  top:35px;
  width:20px;
  height:20px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u6856 {
  position:absolute;
  left:37px;
  top:397px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u6857 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6858 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:647px;
}
#u6859 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u6860 {
  position:absolute;
  left:1px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u6861 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u6862 {
  position:absolute;
  left:310px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6863 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u6864 {
  position:absolute;
  left:140px;
  top:26px;
  width:116px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6865 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u6866 {
  position:absolute;
  left:6px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6867 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6868 {
  position:absolute;
  left:14px;
  top:85px;
  width:70px;
  height:44px;
  font-size:12px;
  color:#000000;
}
#u6869 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u6870 {
  position:absolute;
  left:14px;
  top:130px;
  width:325px;
  height:125px;
}
#u6871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6872 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6873 {
  position:absolute;
  left:40px;
  top:0px;
  width:40px;
  height:30px;
}
#u6874 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6875 {
  position:absolute;
  left:80px;
  top:0px;
  width:40px;
  height:30px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6877 {
  position:absolute;
  left:120px;
  top:0px;
  width:40px;
  height:30px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6879 {
  position:absolute;
  left:160px;
  top:0px;
  width:40px;
  height:30px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6881 {
  position:absolute;
  left:200px;
  top:0px;
  width:40px;
  height:30px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6883 {
  position:absolute;
  left:240px;
  top:0px;
  width:40px;
  height:30px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6885 {
  position:absolute;
  left:280px;
  top:0px;
  width:40px;
  height:30px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6887 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6889 {
  position:absolute;
  left:40px;
  top:30px;
  width:40px;
  height:30px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6891 {
  position:absolute;
  left:80px;
  top:30px;
  width:40px;
  height:30px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6893 {
  position:absolute;
  left:120px;
  top:30px;
  width:40px;
  height:30px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6895 {
  position:absolute;
  left:160px;
  top:30px;
  width:40px;
  height:30px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6897 {
  position:absolute;
  left:200px;
  top:30px;
  width:40px;
  height:30px;
}
#u6898 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6899 {
  position:absolute;
  left:240px;
  top:30px;
  width:40px;
  height:30px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6901 {
  position:absolute;
  left:280px;
  top:30px;
  width:40px;
  height:30px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6903 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u6904 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6905 {
  position:absolute;
  left:40px;
  top:60px;
  width:40px;
  height:30px;
}
#u6906 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6907 {
  position:absolute;
  left:80px;
  top:60px;
  width:40px;
  height:30px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6909 {
  position:absolute;
  left:120px;
  top:60px;
  width:40px;
  height:30px;
}
#u6910 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6911 {
  position:absolute;
  left:160px;
  top:60px;
  width:40px;
  height:30px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6913 {
  position:absolute;
  left:200px;
  top:60px;
  width:40px;
  height:30px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6915 {
  position:absolute;
  left:240px;
  top:60px;
  width:40px;
  height:30px;
}
#u6916 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6917 {
  position:absolute;
  left:280px;
  top:60px;
  width:40px;
  height:30px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6919 {
  position:absolute;
  left:0px;
  top:90px;
  width:40px;
  height:30px;
}
#u6920 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6921 {
  position:absolute;
  left:40px;
  top:90px;
  width:40px;
  height:30px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6923 {
  position:absolute;
  left:80px;
  top:90px;
  width:40px;
  height:30px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6925 {
  position:absolute;
  left:120px;
  top:90px;
  width:40px;
  height:30px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6927 {
  position:absolute;
  left:160px;
  top:90px;
  width:40px;
  height:30px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6929 {
  position:absolute;
  left:200px;
  top:90px;
  width:40px;
  height:30px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6931 {
  position:absolute;
  left:240px;
  top:90px;
  width:40px;
  height:30px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6933 {
  position:absolute;
  left:280px;
  top:90px;
  width:40px;
  height:30px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6870_ann {
  position:absolute;
  left:327px;
  top:126px;
  width:1px;
  height:1px;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6935 {
  position:absolute;
  left:84px;
  top:85px;
  width:70px;
  height:44px;
  font-size:12px;
  color:#000000;
}
#u6936 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6937 {
  position:absolute;
  left:398px;
  top:0px;
  width:375px;
  height:667px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6939 {
  position:absolute;
  left:412px;
  top:35px;
  width:20px;
  height:20px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u6941 {
  position:absolute;
  left:411px;
  top:397px;
  width:20px;
  height:27px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6943 {
  position:absolute;
  left:489px;
  top:35px;
  width:20px;
  height:20px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u6945 {
  position:absolute;
  left:435px;
  top:397px;
  width:69px;
  height:30px;
  font-size:14px;
  color:#666666;
}
#u6946 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6947 {
  position:absolute;
  left:398px;
  top:20px;
  width:375px;
  height:647px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#35D6D6;
}
#u6949 {
  position:absolute;
  left:399px;
  top:20px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#35D6D6;
}
#u6950 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u6951 {
  position:absolute;
  left:708px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6952 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u6953 {
  position:absolute;
  left:538px;
  top:26px;
  width:116px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6954 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u6955 {
  position:absolute;
  left:404px;
  top:26px;
  width:59px;
  height:32px;
  font-size:14px;
  color:#35D6D6;
}
#u6956 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6957 {
  position:absolute;
  left:412px;
  top:85px;
  width:70px;
  height:44px;
  font-size:12px;
  color:#000000;
}
#u6958 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u6959 {
  position:absolute;
  left:412px;
  top:130px;
  width:325px;
  height:125px;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6962 {
  position:absolute;
  left:40px;
  top:0px;
  width:40px;
  height:30px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6964 {
  position:absolute;
  left:80px;
  top:0px;
  width:40px;
  height:30px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6966 {
  position:absolute;
  left:120px;
  top:0px;
  width:40px;
  height:30px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6968 {
  position:absolute;
  left:160px;
  top:0px;
  width:40px;
  height:30px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6970 {
  position:absolute;
  left:200px;
  top:0px;
  width:40px;
  height:30px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6972 {
  position:absolute;
  left:240px;
  top:0px;
  width:40px;
  height:30px;
}
#u6973 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6974 {
  position:absolute;
  left:280px;
  top:0px;
  width:40px;
  height:30px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6976 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6978 {
  position:absolute;
  left:40px;
  top:30px;
  width:40px;
  height:30px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6980 {
  position:absolute;
  left:80px;
  top:30px;
  width:40px;
  height:30px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6982 {
  position:absolute;
  left:120px;
  top:30px;
  width:40px;
  height:30px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6984 {
  position:absolute;
  left:160px;
  top:30px;
  width:40px;
  height:30px;
}
#u6985 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6986 {
  position:absolute;
  left:200px;
  top:30px;
  width:40px;
  height:30px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6988 {
  position:absolute;
  left:240px;
  top:30px;
  width:40px;
  height:30px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6990 {
  position:absolute;
  left:280px;
  top:30px;
  width:40px;
  height:30px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6994 {
  position:absolute;
  left:40px;
  top:60px;
  width:40px;
  height:30px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6996 {
  position:absolute;
  left:80px;
  top:60px;
  width:40px;
  height:30px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6998 {
  position:absolute;
  left:120px;
  top:60px;
  width:40px;
  height:30px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7000 {
  position:absolute;
  left:160px;
  top:60px;
  width:40px;
  height:30px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7002 {
  position:absolute;
  left:200px;
  top:60px;
  width:40px;
  height:30px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7004 {
  position:absolute;
  left:240px;
  top:60px;
  width:40px;
  height:30px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7006 {
  position:absolute;
  left:280px;
  top:60px;
  width:40px;
  height:30px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:90px;
  width:40px;
  height:30px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7010 {
  position:absolute;
  left:40px;
  top:90px;
  width:40px;
  height:30px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7012 {
  position:absolute;
  left:80px;
  top:90px;
  width:40px;
  height:30px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7014 {
  position:absolute;
  left:120px;
  top:90px;
  width:40px;
  height:30px;
}
#u7015 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7016 {
  position:absolute;
  left:160px;
  top:90px;
  width:40px;
  height:30px;
}
#u7017 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7018 {
  position:absolute;
  left:200px;
  top:90px;
  width:40px;
  height:30px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7020 {
  position:absolute;
  left:240px;
  top:90px;
  width:40px;
  height:30px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7022 {
  position:absolute;
  left:280px;
  top:90px;
  width:40px;
  height:30px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6959_ann {
  position:absolute;
  left:725px;
  top:126px;
  width:1px;
  height:1px;
}
#u7024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7024 {
  position:absolute;
  left:482px;
  top:85px;
  width:70px;
  height:44px;
  font-size:12px;
  color:#000000;
}
#u7025 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
